/* CSS for GrenadeSpam */

body {
	background-color: #FFFF33;
}

h1 {
	font-family: "Courier New", Courier, monospace;
	margin-left: 40px;
}

p {
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
	margin-left: 45px;
}

a {
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
	margin-left: 45px;
}

hr {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
    border-width: 1px;
	border-color: #000;
}
